

input[is=lh-date] {width:69px;}

button[is=lh-button] {border-radius:1px; border:1px solid #bbbbbb; display:inline-block; background:#f7f7f7; text-align:center; vertical-align:middle; color:#555555; letter-spacing:0; cursor:pointer; }

.lh-radio-label {cursor:pointer; margin-right:50px;}
.lh-checkbox-label {cursor:pointer; margin-right:50px;}

combo > item[selected] {background-color:blue;}
combo > item:not([selected]) {display: none;}

tabs {display:inline-block;width:100%;background-color:gray;}
tab {padding:10px; border:1px soild;display:inline-block;cursor:pointer;}
tab[selected] {background-color:red;}
tab:not([selected]) {background-color:darkgray;}
